<!doctype html><html><head><meta charset="utf-8"><title>Maikel Knowledge Base</title><base href="/"><meta name="viewport" content="width=device-width,initial-scale=1"><link rel="icon" type="image/x-icon" href="favicon.ico"><link href="styles.873ad035ce18f4d46fd3.bundle.css" rel="stylesheet"/></head><body><app-root><style>app-root {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        color: darkred;
      }
      body {
        background: white;
        margin: 0;
        padding: 0;
      }</style><img src="favicon.ico"><br><i class="fa fa-refresh fa-spin fa-3x fa-fw"></i></app-root><script type="text/javascript" src="inline.cd6c1c2d3310fd5dd46a.bundle.js"></script><script type="text/javascript" src="polyfills.0963b44a58b5526cfab7.bundle.js"></script><script type="text/javascript" src="scripts.0c6a3750247ca3c86c96.bundle.js"></script><script type="text/javascript" src="vendor.e5227f5d3242120d95de.bundle.js"></script><script type="text/javascript" src="main.174a7770a30e58acb947.bundle.js"></script></body></html>